p {
  color: navy;
}
h2 {
  font-family: Courier New;
  color: white;
  background-color: black;
}
li {
  font-family: Georgia
}
#first {
  border: solid;
  background-color: Red;
  padding-right: 50px;
}
img {
  border-radius: 100px;
}
