p {
  color: navy;
}
h2 {
  font-family: Courier New;
  color: white;
  background-color: black;
  text-align: center;
  font-size:75px;
}
ul {
  grid-template-columns: 30px;
  font-family: Georgia;
  border: solid
}
#first {}
img {
  border-radius: 100px;
}
