p {
  color: navy;
}
h2 {
  font-family: Courier New;
  color: white;
  background-color: black;
  text-align: center;
  font-size:75px;
}
ul {
  font-family: Georgia;
  border: solid;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}
#first {
  display: grid;
  grid-template-columns: 225px;
}
img {
  border-radius: 100px;
}
